/* Fonts */

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Global Styles */

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #feaFc3;
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

main {
  flex-grow: 1;
}

footer {
  margin-top: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.sizing-container {
  width: 1366px;
  margin: 0 auto;
  padding: 0 98px;
}

.button {
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header Navigation */

.logo-gllacy-picture {
  display: block;
}

.page-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-navigation-list {
  margin: 33px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  list-style: none;
}

.subcatalog-list {
  list-style: none;
}

.header-navigation-item a {
  text-decoration: none;
}

.right-navigation {
  margin-left: auto;
}

.right-navigation-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
}

.search-button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
  background-image: url("../images/header/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.login-link {
  border-radius: 30px;
  background-color: rgba(252, 252, 252, 0.3);
  background-image: url("../images/header/login-icon.svg");
  background-repeat: no-repeat;
  background-position: 15px 8px;
  padding: 6px 16px 6px 38px;
  text-decoration: none;
  display: block;
}

.cart-link {
  position: relative;
  border-radius: 30px;
  background-color: rgba(252, 252, 252, 0.3);
  background-image: url("../images/header/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 15px 8px;
  padding: 6px 16px 6px 38px;
  text-decoration: none;
  display: block;
}

/* Subcatalog */

.subcatalog-list {
  display: none;
  position: absolute;
}

.catalog-item:focus-within .subcatalog-list {
  display: block;
}

/* Search Pop-Over */

.search-item {
  position: relative;
}

.search-container {
  display: none;
}

.search-item:focus-within .search-container {
  display: block;
  position: absolute;
  top: 50px;
  left: 0;
}

.search {
  width: 356px;
  height: 96px;
  border-radius: 4px;
  padding: 24px 16px;
  background-color: #fcfcfc;
}

/* Login Pop Over */

.login-item {
  position: relative;
}

.login-pop-over-container {
  display: none;
}

.login-item:focus-within .login-pop-over-container {
  display: block;
  position: absolute;
  top: 50px;
  right: 0;
}

.login-form {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 350px;
  padding: 48px;
  background-color: #fcfcfc;
  border-radius: 4px;
}

.login-fieldset {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  border: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 16px;
}

.email-input,
.password-input {
  padding: 14px 152px 14px 16px;
  max-width: 324px;
}

.login-button {
  align-self: flex-start;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  padding: 12px 32px;
  background-color: #ff2f64;
  border-radius: 26px;
  margin-right: 19px;
}

.login-links-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 4px;
}

.login-links-container a {
  color: #000000;
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* Cart Pop-Over */

.cart-item {
  position: relative;
}

.have-no-items,
.empty-cart-pop-over {
  display: none;
}

.cart-item-empty .cart-pop-over-container .empty-cart-pop-over,
.cart-item-empty .cart-link .have-no-items {
  display: block;
}

.cart-item-empty .cart-pop-over-container .cart-pop-over,
.cart-item-empty .cart-link .have-items {
  display: none;
}

.cart-pop-over-container {
  display: none;
  position: absolute;
  right: 0;
  top: 40px;
  width: 441px;
  padding: 48px;
  background-color: #fcfcfc;
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.cart-item:focus-within .cart-pop-over-container {
  display: block;
}

.cart-product-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 24px;
}

.cart-product-item {
  position: relative;
}

.cart-product-item:last-child {
  padding-bottom: 32px;
  border-bottom: 1px solid #e7e7e7;
}

.cart-product-link {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}

.cart-product-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.delete-product-button {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  right: 0;
  background-image: url("../images/header/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.cart-product-text {
  margin: 0;
}

.cart-product-price {
  margin-left: auto;
  align-self: flex-end;
}

.apply-button-and-price {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.apply-order-button {
  outline: 4px solid rgba(255, 47, 100, 0.3);
  padding: 12px 32px;
  background-color: #ff2f64;
  color: #fcfcfc;
  border-radius: 26px;
}

/* Main */

/* Slider */

.slider {
  margin-bottom: 80px;
}

.slider-item {
  display: flex;
  flex-wrap: wrap;
}

.slide-description {
  width: 470px;
  margin: 136px 0 136px 70px;
}

.slide-description-title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slide-description-text {
  margin: 0;
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.order-button {
  padding: 12px 32px;
  border-radius: 26px;
  display: inline-block;
  background-color: #fcfcfc;
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

/* Slider Navigation */

.slider-buttons-list {
  position: absolute;
  list-style: none;
}

.slider-pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
}

.slider-pagination-button {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: rgba(252, 252, 252, 0.3);
}

.slider-pagination-button.slider-pagination-current {
  background-color: #fcfcfc;
}

/* Slider Socials */

.slider-navigation-and-socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.slider-social-media-list {
  width: 104px;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.socials-link {
  display: block;
  text-decoration: none;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  outline: 2px solid rgba(252, 252, 252, 0.1);
}

.socials-link::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.socials-link.telegram {
  background-image: url("../images/slider/telegram.svg");
}

.socials-link.vk {
  background-image: url("../images/slider/vk.svg");
}

.socials-link.youtube {
  background-image: url("../images/slider/youtube.svg");
}

/* Gifts */

.gifts {
  margin-bottom: 80px;
}

.gifts-title-text {
  margin: 0;
  margin-bottom: 55px;
  padding: 0 368px;
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.gifts-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}

.gifts-item {
  width: 570px;
  padding: 36px 217px 36px 36px;
  border-radius: 16px;
  background-color: #ff7799;
}

.gifts-item-title {
  margin: 0;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.gifts-item-description {
  margin: 0;
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.gifts-link {
  display: inline-block;
  color: inherit;
  padding: 12px 32px;
  border-radius: 26px;
  background-color: #fcfcfc;
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

/* Catalog */

.catalog {
  margin-bottom: 80px;
}

.catalog-text-title {
  margin: 0;
  margin-bottom: 56px;
  padding: 0 321px;
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.catalog-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 270px;
  background-color: #fcfcfc;
  border-radius: 8px;
}

/* About Us */

.about-us {
  margin-bottom: 80px;
  padding: 24px;
  background-image: url(../images/index/about-us-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.about-us-container {
  padding: 56px 40px;
  border-radius: 16px;
  background-color: #ffffff;
}

.about-us-text-title {
  margin: 0;
  margin-bottom: 56px;
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 32px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item {
  width: 505px;
}

.features-text {
  margin: 0;
  padding-left: 64px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

/* Article and Subscription */

.article-and-subscription {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 80px;
}

.glaccy-blog {
  width: 570px;
  background-image: url("../images/index/blog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.glaccy-blog-link {
  padding: 32px 235px 67px 32px;
  display: block;
  text-decoration: none;
  color: inherit
}

.glaccy-blog-text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

.glaccy-blog-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.subscription-form-container {
  width: 570px;
  padding: 6px;
  background-image: url("../images/index/subscribe-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
}

.subscription-form {
  padding: 26px;
  border-radius: 16px;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.subscription-text {
  margin: 0;
  margin-bottom: 44px;
}

.subscription-input {
  margin-right: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 14px 90px 14px 16px;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
}

.subscription-button {
  padding: 12px 32px;
  background-color: #ff3f64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  color: #fcfcfc;
  border-radius: 26px;
}

/* Home Delivery */

.home-delivery {
  display: flex;
  gap: 135px;
  padding: 64px 64px 64px 100px;
  margin-bottom: 80px;
  background-image: url("../images/index/delivery-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 26px;
}

.home-delivery-container {
  width: 371px;
}

.home-delivery-title {
  margin: 103px 0 24px 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.home-delivery-text {
  margin: 0;
  color: #565c66;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.delivery-form-container {
  width: 500px;
  padding: 40px 40px 42px 40px;
  background-color: #fcfcfc;
  border-radius: 8px;
}

.delivery-form {
  display: grid;
  grid-template-columns: 117px 287px;
  column-gap: 16px;
}

.delivery-form-text {
  margin: 0;
  margin-bottom: 32px;
  color: #565c66;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

/* Date */

.date-container {
  width: 117px;
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  gap: 8px;
}

.date-label {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.date-input {
  width: 117px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 14px 16px;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
}

/* Phone */

.phone-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.phone-label {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.phone-input {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 14px 0 14px 16px;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
}

/* Address */

.address-container {
  grid-column: 1/-1;
  display: flex;
  margin-bottom: 32px;
  flex-direction: column;
  gap: 8px;
}

.address-label {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.address-input {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 14px 90px 14px 16px;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
}

.delivery-form-button {
  justify-self: center;
  grid-column: 1/-1;
  padding: 12px 32px;
  background-color: #ff3f64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  color: #fcfcfc;
  border-radius: 26px;
}

/* Section Address */

.address {
  padding: 64px;
  border-radius: 16px;
  background-image: url("../images/index/address-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.section-address-container {
  width: 343px;
  background-color: #fcfcfc;
  border-radius: 8px;
  padding: 40px 40px 42px 40px;
}

.address-title {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
}

.address-info {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
}

.address-phone-number-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
}

.address-phone-number-text {
  margin-bottom: 12px;
}

.address-phone-number {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
}

.working-time {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 32px;
}

.modal-window-link {
  display: inline-block;
  padding: 12px 32px;
  background-color: #ff3f64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  color: #fcfcfc;
  border-radius: 26px;
}

/* Footer */

.main-footer .sizing-container,
.inner-footer .sizing-container {
  display: flex;
  flex-wrap: wrap;
  padding: 48px 98px;
}

.footer-socials-list {
  width: 104px;
  padding: 0;
  margin: 0;
  margin-right: auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-self: flex-start;
}

.footer-navigation-list {
  width: 356px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 174px 187px;
  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.footer-navigation-item:nth-child(odd) .footer-navigation-link {
  padding-left: 24px;
}

.footer-navigation-item:first-child .footer-navigation-link {
  font-weight: 700;
}

.footer-logo-container {
  width: 193px;
  margin-left: auto;
}

.footer-logo-link {
  width: 93px;
  height: 27px;
  display: block;
  background-image: url("../images/logo-htmlacademy.svg");
}

.footer-logo-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

/* Modal Window*/

.modal-container-closed {
  display: none;
}
